.settings {
    background-color: #535bf2;
    border: 2px solid bisque;
    border-radius: 14px;
    width: 240px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}
.settings input {
    max-width: 70px;
    height: 35px;
    font-size: 150%;
}